<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>User Login</h2>
</div>

<div th:if="${param.error}">
    <p class="text-danger"
       th:utext="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Error message</p>
</div>
<div th:if="${param.otp}">
    <p class="text-danger">
        For security reason, we've sent an One-Time-Password (OTP)
        to your email elshayulianizulmi@gmail.com<br/>
        Kindly check your email and use the provided OTP to login.<br>
        Note: The OTP will expire after 5 minutes.
    </p>
</div>
<div th:if="${param.logout}">
    <p class="text-warning">You have been logged out.</p>
</div>

<div th:if="${message != null}">
    <p class="text-primary">[[${message}]]</p>
</div>

<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="email" name="email" class="form-control"
                       placeholder="E-mail" th:value="${param.email}" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control"
                       th:placeholder="${param.otp != null ? 'Your One Time Password' : 'Password'}" required />
            </p>
            <p class="text-center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>
</body>
</html>